@use "../../helper/variables" as v;
@use "sass:color";
@use "sass:map";

.navbar {
  margin-top: 2rem;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s ease-in-out;

  .container {
    background-color: map.get(v.$color, "background");
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem 2rem;
    border-radius: 15px;

    .logo {
      img {
        width: 50%;
        height: 50%;
        object-fit: cover;
      }
    }

    .list-item {
      display: flex;
      gap: 2rem;
      color: map.get(v.$color, "title");

      li {
        list-style: none;

        button {
          position: relative;
          display: inline-block;
          text-decoration: none;
          color: map.get(v.$color, "title");
          transition: color 0.3s ease-in-out;
          background-color: transparent;
          border: none;
          font-size: 1rem;
          cursor: pointer;
          padding: 0;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -3px;
            width: 0;
            height: 2px;
            background: map.get(v.$color, "hover");
            transition: width 0.3s ease-in-out;
            border-radius: 1rem;
          }

          &.active,
          &:hover {
            color: map.get(v.$color, "hover");

            &::after {
              width: 100%;
            }
          }
        }

        &.dropdown {
          position: relative;

          .dropdown-menu {
            position: absolute;
            top: 115%;
            left: 0;
            background: #fff;
            border-radius: 10px;
            border: 2px solid rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            min-width: 200px;
            z-index: 999;
            opacity: 0;
            transform: translateY(10px);
            pointer-events: none;
            transition: all 0.25s ease;

            li {
              button {
                display: inline-block;
                text-align: left;
                padding-bottom: 5px;
                margin: 0.5rem 1rem 0.5rem 0.5rem;
                border: none;
                background: transparent;
                font-size: 0.95rem;
                font-weight: 500;
                color: map.get(v.$color, "title");
                cursor: pointer;
                transition: all 0.2s ease;
                position: relative;

                &::after {
                  content: "";
                  position: absolute;
                  left: 0;
                  bottom: 3px;
                  width: 0;
                  height: 2px;
                  background: map.get(v.$color, "hover");
                  transition: width 0.3s ease-in-out;
                  border-radius: 1rem;
                }

                &:hover {
                  color: color.scale(
                    map.get(v.$color, "title"),
                    $lightness: -10%
                  );

                  &::after {
                    width: 100%;
                  }
                }

                &:not(:last-child) {
                  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                }
              }
            }
          }

          /* tampilkan dropdown saat aktif */
          &:hover .dropdown-menu {
            opacity: 1;
            transform: translateY(0);
            pointer-events: auto;
          }
        }
      }
    }

    .button-contact {
      border: 0;
      background-color: map.get(v.$color, "title");
      color: map.get(v.$color, "background");
      padding: 10px 20px;
      border-radius: 50px;
      font-weight: 300;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: map.get(v.$color, "hover");
      }
    }
  }

  &.scrolled {
    margin-top: 0;
    .container {
      background-color: map.get(v.$color, "background");
      width: 100%;
      border-radius: 0;
    }
  }
}
